<h2>Add New Post</h2>

<form action="/new" method="POST" role="form">
  <div class="form-group">
    <textarea name="user_post" class="form-control" id="Textarea1" rows="7" placeholder="Write your post"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>